input[type="radio"] {
    display:none;   
}
label:active {
    background-color: #204060;
}
label:hover {
    cursor: pointer;
}
input[type="radio"]:checked + label:active {
    background-color:#204060;
}

label {
    padding-right: 10px;
}
/* .GET {
    background-color: blue;
} */